# https://docs.npmjs.com/cli/v10/using-npm/config

# prefer-offline=true
# registry=https://registry.npmmirror.com
audit=false
fund=false
registry=https://registry.npmjs.org
save-exact=true
update-notifier=false



# https://pnpm.io/npmrc

# shamefully-hoist=true
# strict-peer-dependencies=false