# https://docs.npmjs.com/cli/v10/using-npm/config

# registry=https://registry.npmmirror.com
# prefer-offline=true
save-exact=true



# https://pnpm.io/npmrc

# shamefully-hoist=true
# strict-peer-dependencies=false