@reference "./tailwind.css";

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
}

html,
body,
#root {
  height: 100%;
  contain: paint;
  overflow: clip;
}

#root {
  /* Create a new block formatting context */
  /* Prevents margin collapse */
  display: flow-root;
  isolation: isolate;
}

html {
  font-family: --theme(--font-sans);
  background-color: --theme(--color-surface-primary);
  color: light-dark(black, --theme(--color-light-gray-200));

  &,
  &[data-theme="auto"] {
    color-scheme: dark light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  &[data-theme="light"] {
    color-scheme: light;
  }
}

@property --view-transition-size {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483644;
  mask-image: radial-gradient(circle at var(--mouse-x, center) var(--mouse-y, center) in oklab,
      hsl(0, 0%, 100.0%) calc(var(--view-transition-size) * (1 + .5 * 0.000)),
      hsl(0, 0%, 99.36%) calc(var(--view-transition-size) * (1 + .5 * 0.055)),
      hsl(0, 0%, 97.54%) calc(var(--view-transition-size) * (1 + .5 * 0.116)),
      hsl(0, 0%, 94.66%) calc(var(--view-transition-size) * (1 + .5 * 0.181)),
      hsl(0, 0%, 90.81%) calc(var(--view-transition-size) * (1 + .5 * 0.250)),
      hsl(0, 0%, 86.07%) calc(var(--view-transition-size) * (1 + .5 * 0.321)),
      hsl(0, 0%, 80.50%) calc(var(--view-transition-size) * (1 + .5 * 0.395)),
      hsl(0, 0%, 74.16%) calc(var(--view-transition-size) * (1 + .5 * 0.470)),
      hsl(0, 0%, 67.09%) calc(var(--view-transition-size) * (1 + .5 * 0.545)),
      hsl(0, 0%, 59.33%) calc(var(--view-transition-size) * (1 + .5 * 0.619)),
      hsl(0, 0%, 50.92%) calc(var(--view-transition-size) * (1 + .5 * 0.692)),
      hsl(0, 0%, 41.88%) calc(var(--view-transition-size) * (1 + .5 * 0.762)),
      hsl(0, 0%, 32.25%) calc(var(--view-transition-size) * (1 + .5 * 0.829)),
      hsl(0, 0%, 22.04%) calc(var(--view-transition-size) * (1 + .5 * 0.891)),
      hsl(0, 0%, 11.29%) calc(var(--view-transition-size) * (1 + .5 * 0.949)),
      hsl(0, 0%, 0.000%) calc(var(--view-transition-size) * (1 + .5 * 1.000)));
  mask-mode: luminance;
}