@import "@ziloen/tailwind-config/preset.css" theme(inline);

/* https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css */
/* @import "tailwindcss/preflight.css" layer(base); */

@theme {
  --color-surface-primary: light-dark(#ffffff, #121212);
  --color-surface-secondary: light-dark(--theme(--color-light-gray-200), --theme(--color-dark-gray-400));



  /* --color-[role]-[prominence]-[interaction] */
  --text-color-neutral-primary: light-dark(black, --theme(--color-light-gray-100));
  --text-color-neutral-primary-muted: light-dark(--theme(--color-dark-gray-700), --theme(--color-light-gray-400));

  --text-color-neutral-secondary: light-dark(--theme(--color-dark-gray-500), --theme(--color-light-gray-300));
  --text-color-neutral-secondary-muted: light-dark(--theme(--color-dark-gray-500), --theme(--color-light-gray-400));

  --text-color-neutral-tertiary: light-dark(--theme(--color-dark-gray-300), --theme(--color-light-gray-500));
  --text-color-neutral-tertiary-muted: light-dark(--theme(--color-dark-gray-300), --theme(--color-light-gray-200));

  --text-color-success-primary: light-dark(--theme(--color-green-700), --theme(--color-green-500));

  --text-color-error-primary: light-dark(--theme(--color-red-500), --theme(--color-red-300));

  --text-color-info-primary: light-dark(--theme(--color-blue-500), --theme(--color-blue-400));



  --border-color-neutral-primary: light-dark(--theme(--color-light-gray-500), theme(--color-dark-gray-100));

  /* --color-field-bg: light-dark();
  --color-field-fg: light-dark();

  --color-field-bg-muted: light-dark();
  --color-field-bg-hover: ;
  --color-field-bg-active: ;
  --color-field-ring-focus: ;
  --color-field- */
}

/* 
`[data-theme=dark]`, `:host([data-theme=dark])`
*/
@custom-variant dark (&:where([data-theme=dark],
    [data-theme=dark] *,
    :host([data-theme=dark]),
    :host([data-theme=dark]) *));

@layer utilities {
  .btn {
    @apply px-4 py-1 rounded inline-block bg-green-700 text-white cursor-pointer hover:bg-green-600 disabled:cursor-default disabled:bg-dark-gray-50 disabled:opacity-50 border-none;
  }
}